<mat-horizontal-stepper>
  <ng-template matStepperIcon="breakfast">
    <mat-icon>free_breakfast</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="dinner">
    <mat-icon>fastfood</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="supper">
    <mat-icon>local_drink</mat-icon>
  </ng-template>

  <mat-step label="1 Meal" state="breakfast">
    <mat-form-field>
      <mat-label>Breakfast</mat-label>
      <mat-select>
        <mat-option *ngFor="let recipe of recipes" [value]="recipe.name">
          {{ recipe.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="2 meal" state="dinner">
    <mat-form-field>
      <mat-label>Dinner</mat-label>
      <mat-select>
        <mat-option *ngFor="let recipe of recipes" [value]="recipe.name">
          {{ recipe.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="3 meal" state="supper">
    <mat-form-field>
      <mat-label>Supper</mat-label>
      <mat-select>
        <mat-option *ngFor="let recipe of recipes" [value]="recipe.name">
          {{ recipe.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-raised-button (click)="save()">Finish</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
