<mat-card class="recipe-card">
    <div class="recipe-card-image" style="background-image: url({{recipe.imageUrl}})">
    </div>
    <div class="recipe-card-information">
        <h2 class="recipe-card-title"> {{recipe.name}} </h2>
        <div class="recipe-card-details">
            <div class="recipe-card-detail">
                <span class="recipe-card-detail-key"> Cuisine: </span> <span class="recipe-card-detail-value"> {{recipe.cuisine}} </span>
            </div>
            <div class="recipe-card-detail">
                <span class="recipe-card-detail-key"> Category: </span> <span class="recipe-card-detail-value"> {{recipe.category}} </span>
            </div>
            <div class="recipe-card-detail">
                <span class="recipe-card-detail-key"> Complexity level: </span> <span class="recipe-card-detail-value"> {{formatComplexityLevel(recipe.complexityLevel)}} </span>
            </div>
            <div class="recipe-card-detail">
                <span class="recipe-card-detail-key"> Estimated time: </span> <span class="recipe-card-detail-value"> {{recipe.estimatedTime}}m</span>
            </div>
        </div>
    </div>
    <!-- <div class="recipe-card-footer">
        <div class="recipe-card-user-image" style="background-image: url({{recipe.imageUrl}})">
        </div>
        <span class="recipe-card-user-name"> By <span class="recipe-card-user-name-highlight"> Foodie </span></span>
    </div> -->
</mat-card>