<link
  href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap"
  rel="stylesheet"
/>
<button mat-button class="arrB" (click)="backToRecipe()">
  <mat-icon class="arrow">keyboard_backspace</mat-icon>
</button>
<div class="container">
  <form [formGroup]="form">
    <mat-radio-group
      aria-label="Select an option"
      formControlName="first"
      class="radio"
    >
      <mat-radio-button value="1">Show diet</mat-radio-button>
      <mat-radio-button value="2">Create diet</mat-radio-button>
    </mat-radio-group>
    <div *ngIf="form.value.first == 1">
      <mat-form-field class="field">
        <mat-label>Diets</mat-label>
        <mat-select formControlName="second">
          <mat-option
            *ngFor="let diet of diets"
            [value]="diet.id"
            matTooltip="{{ diet.description }}"
          >
            {{ diet.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="form.controls.second.valid">
        <div class="button1">
          <button mat-button (click)="showDiet()">
            <mat-icon color="primary">keyboard_arrow_down</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="form.value.first == 2">
      <div>
        <mat-form-field class="field">
          <mat-label>Diet name</mat-label>
          <input matInput formControlName="third" />
        </mat-form-field>
        <div *ngIf="form.controls.third.valid">
          <mat-form-field class="field">
            <mat-label>Description of diet</mat-label>
            <textarea matInput formControlName="four" rows="1"> </textarea>
          </mat-form-field>
          <div class="button">
            <button mat-button (click)="createDiet()">
              <mat-icon color="primary">keyboard_arrow_down</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
