.mat-radio-button {
  margin-left: 3%;
  font-family: Montserrat, sans-serif;
}
.radio {
  font-size: 200%;
  color: #26393e;
  display: flex;
  justify-content: center;
}
.field {
  margin-top: 2%;
  font-family: Montserrat, sans-serif;
  font-size: 100%;
  display: flex;
  justify-content: center;
}
.mat-icon {
  transform: scale(3);
  display: flex;
  justify-content: center;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.matTooltip {
  font-size: 60px !important;
}
