a {
  color: inherit;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgContainer {
  align-items: center;
  /* display: block;
  width: 215px;
  height: 215px;
  margin-top: 10%;
  margin-left: 35%;
  border-radius: 50%;
  border: 8px solid #ecdcb0; */
}
.add-recipe-title {
  font-size: 48px;
  font-family: Montserrat, sans-serif;
  color: #403584;
  font-weight: 600;
  margin-left: 20%;
  margin-top: 5%;
}
.imgContainer img {
  border-radius: 50%;
  object-fit: cover;
}
.imgButton {
  margin-top: 2%;
}
.imgButton {
  background-color: #e75858;
  color: white;
  border-radius: 27px;
  width: 20%;
  font-size: 1vw;
}
.card {
  text-align: center;
  border-radius: 18px;
  width: 60%;
}
.photo {
  vertical-align: bottom;
}
.panel {
  height: 45%;
  text-align: center;
}
imgButton {
  position: absolute;
}
.textCenter {
  text-align: center;
}
.textRight {
  justify-content: end;
  text-align: right;
}
.field {
  font-family: 'Montserrat';
  font-weight: bolder;
  text-align: center;
}
.row {
  margin-top: 3%;
  height: 3%;
  justify-content: center;
}
.saveButton {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.save {
  width: 20%;
  background-color: #ecdcb0;
  border-radius: 27px;
}
.buttonPass {
  width: 100%;
}
.pass {
  width: 20%;
  background-color: #e75858;
  border-radius: 27px;
  color: white;
  font-size: 1vw;
}
.turn {
  color: #ffffff;
}

.mat-icon {
  font-size: 25px;
}
.field {
  width: 100%;
}
.textRight {
  margin-top: 3%;
}

.toolbar {
  width: 100%;
  height: 80px;
  background-color: inherit;
  position: relative;
}

.toolbar-actions {
  position: absolute;
  right: 0;
  padding: 0 24px;
  display: flex;
  align-items: center;
  height: 100%;
}

.toolbar-action {
  color: #ffffff;
  margin: 0 16px;
  font-weight: 600;
  cursor: pointer;
}

.toolbar-user-action {
  background-color: #ffffff;
  padding: 6px 12px;
  margin: 0 16px;
  color: #ecdcb0;
  border-radius: 24px;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
}
.invalid {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  word-spacing: normal;
}
