<link
  href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap"
  rel="stylesheet"
/>

<app-header-toolbar></app-header-toolbar>
<h2 class="add-recipe-title">Account</h2>
<div class="main">
  <mat-card class="card">
    <div class="panel">
      <div class="imgContainer">
        <div *ngIf="userPhoto != null; else elseBlock">
          <img [src]="userPhoto" alt="Avatar" width="20%" height="50%" />
        </div>
        <ng-template #elseBlock>
          <div *ngIf="url; else normal">
            <img [src]="url" alt="Avatar" width="200px" height="200px" />
          </div>
          <ng-template #normal>
            <img
              src="assets/img/user.png"
              alt="Avatar"
              width="200px"
              height="200px"
            />
          </ng-template>
        </ng-template>
      </div>
      <input
        style="display: none;"
        type="file"
        (change)="onSelectFile($event)"
        #fileInput
      />
      <div class="imgButtonContainer">
        <button
          mat-raised-button
          class="imgButton"
          (click)="fileInput.click()"
          color="#E75858"
          type="button"
        >
          Select image
        </button>
      </div>
    </div>
    <div class="container">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-sm-offset-3 col-sm-6 textCenter">
            <mat-form-field class="field">
              <mat-label>First Name</mat-label>
              <input
                matInput
                class="test"
                formControlName="firstname"
                placeholder=""
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-3 col-sm-6 textright">
            <mat-form-field class="field">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="surname" placeholder="" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="buttonPass">
            <button
              mat-raised-button
              (click)="showPassword()"
              class="pass"
              color="#E75858"
            >
              Change password
            </button>
          </div>
        </div>
        <div *ngIf="show">
          <form [formGroup]="formPass">
            <div class="row">
              <div class="col-sm-offset-4 col-sm-6 textCenter">
                <mat-form-field class="field">
                  <mat-label>Old password</mat-label>
                  <input
                    matInput
                    type="password"
                    formControlName="oldPassword"
                    class="test"
                    placeholder=""
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-offset-3 col-sm-6 textright">
                <mat-form-field class="field">
                  <mat-label>New password</mat-label>
                  <input
                    matInput
                    type="password"
                    formControlName="newPassword"
                    placeholder=""
                    [ngClass]="{
                      'is-invalid': submitted && f.newPassword.errors
                    }"
                  />
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="submitted && f.newPassword.errors" class="invalid">
              <div *ngIf="f.newPassword.errors.required">
                New password is required
              </div>

              <div *ngIf="f.newPassword.errors.minlength">
                New password must be at least 8 characters
              </div>

              <div *ngIf="f.newPassword.errors.pattern">
                New password have at least one digit
              </div>
            </div>
            <div *ngIf="formPass.hasError('differentPass')" class="invalid">
              New password must be different
            </div>
          </form>
        </div>
        <div class="saveButton">
          <button
            [disabled]="!form.valid"
            mat-raised-button
            class="save"
            color="#ecdcb0"
            (click)="onSubmit()"
          >
            SAVE
          </button>
        </div>
      </form>
    </div>
  </mat-card>
</div>
