<link
  href="http://fonts.googleapis.com/css?family=Montserrat:light"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Saira Semi Condensed"
  rel="stylesheet"
/>
<div class="main">
  <div class="text">
    <div class="title">
      Food
      <h2 class="second">cares about <span class="you">YOU</span></h2>
    </div>
  </div>
  <mat-card class="card">
    <mat-card-header>
      <div class="rogal">
        <img class="image" src="../../../assets/img/Union 2.png" />
      </div>
    </mat-card-header>
    <div class="matTitle">FOODIE</div>
    <div class="login">
      <mat-form-field class="field">
        <mat-icon matPrefix>perm_identity</mat-icon>
        <mat-label>Username</mat-label>

        <input matInput placeholder="" />
      </mat-form-field>
      <mat-form-field class="password">
        <mat-icon matPrefix>lock</mat-icon>
        <mat-label>Password</mat-label>

        <input matInput placeholder="" />
      </mat-form-field>
    </div>
  </mat-card>
</div>
