<mat-card>
  <div class="information">
    <div class="container">
      <div class="row">
        <div class="col">
          <span class="type">Breakfast:</span>
          <span class="food">{{ one(meal) }} {{ nameRecipe }} </span>
        </div>
        <div class="col">
          <span class="type">Lunch:</span>
          <span class="food"> {{ two(meal) }} {{ nameRecipe2 }} </span>
        </div>
        <div class="col">
          <span class="type">Supper:</span>
          <span *ngIf="meal" class="food">
            {{ third(meal) }}
            {{ nameRecipe3 }}
          </span>
        </div>
        <div>
          <!-- <button mat-button (click)="delete()">
            <mat-icon>delete_outline</mat-icon>
          </button> -->
        </div>
      </div>
    </div>
  </div>
</mat-card>
