.mat-card {
  margin-top: 3%;
  margin-bottom: 3%;
  height: 70%;
}
.type {
  font-family: Montserrat, sans-serif;
  font-size: 200%;
  color: #26393e;
}
.food {
  font-family: Montserrat, sans-serif;
  font-size: 200%;
  color: #ff8329;
}
.mat-icon {
  margin-bottom: 30%;
  color: #26393e;
}
