.container {
  height: 100%;
}
.grid {
}
.title {
  font-size: 300%;
  font-family: Montserrat, sans-serif;
  color: #403584;
  text-align: center;
}
.row {
  font-size: 250%;
  font-family: Montserrat, sans-serif;
  color: #26393e;
  height: 15%;
}
.card {
  width: 100%;
  height: 15%;
  max-width: 100%;
}
.days {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  margin-top: 5%;
  font-size: 2vw;
}
.buttonplus {
  margin-bottom: 50%;
}
.arrow {
  transform: scale(2);
}
.icons {
  justify-content: right;
}
.monday {
  margin-top: 7%;
}
.tuesday {
  margin-top: 5%;
}
.buttonB {
  background: #ecdcb0;
}
