<link
  href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap"
  rel="stylesheet"
/>
<header>
  <app-header-toolbar></app-header-toolbar>
</header>

<div class="title">
  <span *ngIf="showDiet">
    <button mat-button (click)="openDialog()">
      <mat-icon class="buttonplus">search</mat-icon>
    </button>
    <button mat-button (click)="deleteDiet()">
      <mat-icon class="buttonplus">delete_outline</mat-icon>
    </button>
    <span class="dietName">
      {{ dietName }}
    </span>
    <button mat-button>
      <mat-icon class="buttonplus">edit</mat-icon>
    </button>
  </span>

  <span *ngIf="editable">
    <button mat-button (click)="openDialog()">
      <mat-icon class="buttonplus">search</mat-icon>
    </button>
    <span class="dietName">
      {{ dietName }}
    </span>
    <span *ngIf="temp.length != 7">
      <button mat-button (click)="addDiet()">
        <mat-icon class="buttonplus">add</mat-icon>
      </button>
    </span>
    <span>
      <button mat-button (click)="saveDiet()">
        <mat-icon class="buttonplus">done</mat-icon>
      </button>
    </span>
  </span>
</div>

<mat-grid-list cols="4" rowHeight="200px" class="grid">
  <mat-grid-tile [colspan]="1" [rowspan]="4">
    <div class="container">
      <div class="row">
        <div class="days">
          <div class="monday">
            MONDAY
          </div>
        </div>
      </div>
      <div class="row">
        <div class="days">
          <div class="tuesday">
            TUESDAY
          </div>
        </div>
      </div>
      <div class="row">
        <div class="days">
          <div class="tuesday">
            WEDNESDAY
          </div>
        </div>
      </div>
      <div class="row">
        <div class="days">
          <div class="tuesday">
            THURSDAY
          </div>
        </div>
      </div>
      <div class="row">
        <div class="days">
          FRIDAY
        </div>
      </div>
      <div class="row">
        <div class="days">
          SATURDAY
        </div>
      </div>
      <div class="row">
        <div class="days">
          SUNDAY
        </div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="4">
    <div class="container">
      <app-diet-card *ngFor="let meal of temp" [meal]="meal"> </app-diet-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
