<link
  href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap"
  rel="stylesheet"
/>
<header>
  <app-header-toolbar></app-header-toolbar>
</header>

<div class="title">
  <span *ngIf="showDiet">
    <button mat-button (click)="dietToPdf()">
      <mat-icon class="buttonplus">picture_as_pdf</mat-icon>
    </button>
    <button mat-button (click)="openDialog()">
      <mat-icon class="buttonplus">search</mat-icon>
    </button>
    <button mat-button (click)="deleteDiet()">
      <mat-icon class="buttonplus">delete_outline</mat-icon>
    </button>
    <span class="dietName">
      {{ dietName }}
    </span>
    <span *ngIf="editD == false">
      <button mat-button (click)="editDiet()">
        <mat-icon class="buttonplus">edit</mat-icon>
      </button>
    </span>
    <span *ngIf="editD">
      <span *ngIf="temp.length != 7">
        <button mat-button (click)="addDiet()">
          <mat-icon class="buttonplus">add</mat-icon>
        </button>
      </span>
      <span>
        <button mat-button (click)="updateDiet()">
          <mat-icon class="buttonplus">done</mat-icon>
        </button>
      </span>
    </span>
  </span>

  <span *ngIf="editable">
    <button mat-button (click)="openDialog()">
      <mat-icon class="buttonplus">search</mat-icon>
    </button>
    <span class="dietName">
      {{ dietName }}
    </span>
    <span *ngIf="temp.length != 7">
      <button mat-button (click)="addDiet()">
        <mat-icon class="buttonplus">add</mat-icon>
      </button>
    </span>
    <span>
      <button mat-button (click)="saveDiet()">
        <mat-icon class="buttonplus">done</mat-icon>
      </button>
    </span>
  </span>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="days">
        MONDAY
      </div>
    </div>
    <div class="col-sm-9">
      <span *ngFor="let meal of temp" class="cardD">
        <span *ngIf="meal.day === 'Monday'">
          <app-diet-card [meal]="meal"> </app-diet-card>
        </span>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="days">
        TUESDAY
      </div>
    </div>
    <div class="col-sm-9">
      <span *ngFor="let meal of temp" class="cardD">
        <span *ngIf="meal.day === 'Tuesday'">
          <app-diet-card [meal]="meal"> </app-diet-card>
        </span>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="days">
        WEDNESDAY
      </div>
    </div>
    <div class="col-sm-9">
      <span *ngFor="let meal of temp" class="cardD">
        <span *ngIf="meal.day === 'Wednesday'">
          <app-diet-card [meal]="meal"> </app-diet-card>
        </span>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="days">
        THURSDAY
      </div>
    </div>
    <div class="col-sm-9">
      <span *ngFor="let meal of temp" class="cardD">
        <span *ngIf="meal.day === 'Thursday'">
          <app-diet-card [meal]="meal"> </app-diet-card>
        </span>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="days">
        FRIDAY
      </div>
    </div>
    <div class="col-sm-9">
      <span *ngFor="let meal of temp" class="cardD">
        <span *ngIf="meal.day === 'Friday'">
          <app-diet-card [meal]="meal"> </app-diet-card>
        </span>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="days">
        SATURDAY
      </div>
    </div>
    <div class="col-sm-9">
      <span *ngFor="let meal of temp" class="cardD">
        <span *ngIf="meal.day === 'Saturday'">
          <app-diet-card [meal]="meal"> </app-diet-card>
        </span>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="days">
        SUNDAY
      </div>
    </div>
    <div class="col-sm-9">
      <span *ngFor="let meal of temp" class="cardD">
        <span *ngIf="meal.day === 'Sunday'">
          <app-diet-card [meal]="meal"> </app-diet-card>
        </span>
      </span>
    </div>
  </div>
</div>
<!-- <mat-grid-tile [colspan]="3" [rowspan]="4">
    <div class="container">
      <app-diet-card *ngFor="let meal of temp" [meal]="meal"> </app-diet-card>
    </div>
  </mat-grid-tile> -->
