<!-- Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap"
  rel="stylesheet"/>

<!-- Component -->
<header class="recipes-header">
    <mat-toolbar class="toolbar">   
        <span class="toolbar-actions">
			<span class="toolbar-action"> 
				<a [routerLink]="['/addRecipe']"> Add recipe </a>
			</span>
			<span class="toolbar-user-action"> 
				<a [routerLink]="['/userProfile']"> Account </a>
			</span>
        </span>
    </mat-toolbar>
    <div class="container">
        <div class="recipes-search-container">
            <h2 class="recipes-search-title"> Foodie </h2>
            <h3 class="recipes-serach-subtitle"> The internet’s source of best recipes! </h3>

            <div class="recipes-searchbar">
                <input class="recipes-input" type="text" value="" placeholder="Search for best recipes!">
                <button class="recipes-search-button">
                    Search
                </button>
            </div>
        </div>
    </div>
</header>
<main class="recipes-main">
    <div class="container">
        <h2 class="recipes-main-title">🥐  Check some of our most popular recipes!</h2>
        <div class="recipes-main-cards-container">
            <app-recipe-card *ngFor="let recipe of recipes;" class="recipe-card-component" [recipe]="recipe"></app-recipe-card>
        </div>
    </div>
</main>
