@import '../../../foodie-styles.scss';

.recipe-main {
    margin-top: 120px;
}

.recipe-details-header {
    width: 100%;
    height: 100%;
    padding-bottom: 32px;
}

.recipe-title {
    float: left;
    font-size: 48px;
    font-family: Montserrat, sans-serif;
    color: #403584;
    font-weight: 600;
}

.recipe-favourite {
    float: right;
    color: #BBBBBB;
    transition-duration: 0.33s;
    cursor: pointer;
}

.recipe-favourite span {
    font-size: 48px;
    margin-right: 16px;
}

.recipe-favourite:hover {
    transform: rotateZ(12deg) scale(125%);
    color: palevioletred;
}

.recipe-favourite.favorite {
    animation-duration: 0.33s;
    animation-name: clicked;
    color: crimson;
}

@keyframes clicked {
    from {color: palevioletred;}
    to {color: crimson;}
}

.recipe-card {
    margin: 32px 0;
    padding: 0;
}

.recipe-image {
    width: 100%;
    height: 400px;
    background-color: #EEEEEE;
    background-size: cover;
    background-position: center;
}

.recipe-details {
    padding: 32px 16px 16px 16px;
}

.recipe-informations {
    width: 100%;
    height: 32px;
    margin-top: 16px;
}

.recipe-information {
    margin-right: 16px;
    color: #BBBBBB;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
}

.recipe-section {
    width: 100%;
    margin-top: 16px;
}

.recipe-section-title {
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    color: #403584;
    font-weight: 600;
}

table {
    width: 100%;
}

.recipe-step-title {
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    color: #403584;
    font-weight: 600;
}

.recipe-step-instruction {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    color: black;
    margin-bottom: 16px;
}