<mat-toolbar class="toolbar">
    <span class="toolbar-actions">
        <span class="toolbar-action">
            <a [routerLink]="['/addRecipe']"  *ngIf="currentView !== '/addRecipe'"> Add recipe </a>
        </span>
        <span class="toolbar-action" *ngIf="currentView !== '/recipes'">
            <a [routerLink]="['/recipes']"> Recipes </a>
        </span>
        <span class="toolbar-user-action">
            <a [routerLink]="['/userProfile']"> Account </a>
        </span>
        <button mat-button (click)="logOut()" class="toolbar-user-logout">
            <mat-icon>settings_power</mat-icon>
        </button>
    </span>
</mat-toolbar>