// Material theme
@import '~@angular/material/theming';

@include mat-core();

$foodie-primary: mat-palette($mat-indigo);
$foodie-accent: mat-palette($mat-pink, A200, A100, A400);
$foodie-warn: mat-palette($mat-red);
$foodie-theme: mat-light-theme($foodie-primary, $foodie-accent, $foodie-warn);

@include angular-material-theme($foodie-theme);

@import '~bootstrap/dist/css/bootstrap.css';

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}
