<main class="main-container">
  <div class="container main">
    <div class="home-page-container">
      <div class="title-container">
        <h1 class="title">
          <span class="title-start"> Join us </span><br />
          <span class="title-mid">Today</span>
        </h1>
      </div>
      <div class="form-container">
        <mat-card class="card">
          <div class="card-logo">
            <img src="../../../assets/img/logo.png" />
          </div>
          <div class="card-title">foodie</div>
          <div class="card-form-container">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="card-form">
              <mat-form-field class="card-form-field">
                <mat-icon matPrefix>perm_identity</mat-icon>
                <mat-label>Email</mat-label>
                <input
                  matInput
                  type="email"
                  formControlName="email"
                  placeholder=""
                />
              </mat-form-field>
              <mat-form-field class="card-form-field">
                <mat-icon matPrefix>lock</mat-icon>
                <mat-label>Password</mat-label>
                <input
                  matInput
                  type="password"
                  formControlName="password"
                  placeholder=""
                />
              </mat-form-field>

              <button
                mat-raised-button
                class="form-submit-button card-submit-button"
              >
                Register
              </button>
            </form>
          </div>
          <div class="card-form-bottom">
            <a
              routerLink="/home"
              routerLinkActive="colorFont"
              routerLinkActiveOptions="{exact:true}"
            >
              Already has an account? Sign in!
            </a>
          </div>
        <div class="button">
          <button mat-raised-button color="#ecdcb0">
            Register
          </button>
        </div>
    <div class="register">
      <a
        routerLink="/home"
        routerLinkActive="colorFont"
        routerLinkActiveOptions="{exact:true}"
        >Already has an account? Sign in!</a
      >
    </div>
