<link
  href="http://fonts.googleapis.com/css?family=Montserrat:light"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Saira Semi Condensed"
  rel="stylesheet"
/>
<div class="main">
  <div class="text">
    <div class="title">
      Join Us
      <h2 class="second">Today</h2>
    </div>
  </div>
  <mat-card class="card">
    <mat-card-header>
      <div class="rogal">
        <img class="image" src="../../../assets/img/Union 2.png" />
      </div>
    </mat-card-header>
    <div class="matTitle">FOODIE</div>
    <div class="login">
      <mat-form-field class="field">
        <mat-icon matPrefix> local_post_office</mat-icon>
        <mat-label>Email</mat-label>

        <input matInput placeholder="" />
      </mat-form-field>
      <mat-form-field class="password">
        <mat-icon matPrefix>lock</mat-icon>
        <mat-label>Password</mat-label>

        <input matInput placeholder="" />
      </mat-form-field>
    </div>
    <div class="button">
      <button mat-raised-button color="#ecdcb0">Register</button>
    </div>
    <div class="register">
      <a
        routerLink="/home"
        routerLinkActive="colorFont"
        routerLinkActiveOptions="{exact:true}"
        >Already has an account? Sign in!</a
      >
    </div>
  </mat-card>
</div>
