@import '../../foodie-styles.scss';

.main-container {
  background-color: $primary;
  min-height: 100vh;
}

.main {
  display: flex;
  height: 100vh;
  align-items: center;
}

.home-page-container {
  width: 100%;
  height: 600px;
}

%home-component-container {
  display: inline-flex;
  height: 100%;
  align-items: center;
  float: left;
}

.title-container {
  @extend %home-component-container;
  width: 60%;
}

.form-container {
  @extend %home-component-container;
  width: 40%;
}

.title {
  font: $title-font;
  color: $secondary;
  line-height: 6rem;
}

.title-start {
  margin-left: -8px;
}

.title-mid {
  font-size: 72px;
  color: $white;
  font-weight: 400;
}

.title-end {
  font-weight: 600;
  font-size: 82px;
}

.card {
  border-radius: 2rem;
  width: 100%;
}

.card-logo {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 56px;
}

.card-title {
  margin-top: 24px;
  width: 100%;
  text-align: center;
  color: $secondary;
  font: $card-title-font;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.card-form-container {
  margin-top: 56px;
  width: 100%;
}

.card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  color: $form-gray;
}

.card-form-field {
  display: block;
  width: 100%;
  position: relative;

  mat-icon {
    position: absolute;
    left: 0;
    bottom: -4px;
  }

  mat-label {
    padding-left: 24px;
  }

  input {
    padding-left: 24px;
    color: $black;
  }
}

.card-submit-button {
  margin-top: 40px;
}

.card-form-bottom {
  margin-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  text-align: center;
  a {
    color: $black;
  }
}

@media (max-width: 1366px) {
  .home-page-container {
    display: flex;
    justify-content: space-between;
  }

  .title-container {
    width: auto;
    justify-content: center;
  }

  .title {
    font-size: 140px;
  }
  
  .title-start {
    margin-left: -8px;
  }
  
  .title-mid {
    font-size: 58px;
  }
  
  .title-end {
    font-weight: 600;
    font-size: 64px;
  }

  .form-container {
    width: auto;
    justify-content: center;
  }

  .card {
    width: 440px;
  }
}

@media (max-width: 1024px) {
  .title-container {
    display: none;
  }

  .form-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 414px) {  
  .card-logo {
    padding-top: 16px;

    img {
      width: 30%;
    }
  }

  .card-title {
    font-size: 24px;
    padding-left: 24px;
  }

  .card-form-container {
    margin-top: 24px;
  }

  .card-form {
    width: 90%;
  }
}